 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: lightcoral;
     color: white;
     margin: 0;
     padding: 20px;
 }

 .container {
     max-width: 400px;
     margin: 0 auto;
     background: coral;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 input[type="text"] {
     width: 70%;
     padding: 10px;
     margin-right: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;

 }

 button {
     padding: 10px 15px;
     cursor: pointer;
     border: none;
     background-color: #ccc;
     color: green;
     border-radius: 4px;
     margin: 3px;
     transition: background-color 0.3s ease;
 }

 button:hover {
     background-color: lightcyan;
 }

 ul {
     list-style-type: none;
     padding-left: 0;
     margin-top: 20px;
 }

 li {
     padding: 10px;
     background-color: blue;
     margin-bottom: 10px;
     border-radius: 4px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 li:completed {
     text-decoration: line-through;
     color: gray;
 }

 .dark-theme {
     background-color: green;
     color: white;
 }

 .dark-theme .container {
     background-color: blue;
 }

 .dark-theme input[type="text"] {
     background-color: yellow;
     color: black;
     border-color: red;

 }

 .dark-theme button {
     background-color: grey;
     color: white;
 }

 .dark-theme button:hover {
     background-color: blueviolet;
 }

 .dark-theme li {
     background-color: purple;
 }